body {
	background-color:#010101;
}
h1 {
	color: white; 
	font-family:monospace;
}

h2 {
	color: white; 
	font-family:monospace;
}

p {
	color:white; 
	font-family:monospace;
}

a {
	color:#FFBF00;
	font-family:monospace;
}